---
import "../global.css";

interface Props {
  title: string;
  description?: string;
  class?: string;
}

const { title, description, class: className } = Astro.props;
const lang = Astro.currentLocale;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src={`${import.meta.env.BASE_URL}/enable-threads.js`} />
    <script
      data-goatcounter="https://ppp.counter.x0k.online/count"
      async
      src="https://ppp.counter.x0k.online/count.js"></script>
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
